<div id="<%= dom_id assignment %>">
  <p>
    <strong>Public task code:</strong>
    <%= assignment.public_task_code %>
  </p>

  <p>
    <strong>Private task code:</strong>
    <%= assignment.private_task_code %>
  </p>

</div>
